{% extends 'base.html.twig' %}
{% block title %}{{ controller_name }}!{% endblock %}
{% block body %}

<div>
    <div class="col-md-6 offset-md-3 badge">
        <img src="assets/img/badge_vide.png" alt="badge">
        <div class="badge-texte">
            <h1 class="badge-text-h1">NOM</h1> <!-- A remplacer avec la valeur last_name du tableau TUsers -->
            <h2 class="pb-4">PRENOM</h2> <!-- A remplacer avec la valeur First_name du tableau TUsers -->
            <h3 class="pb-4">Société</h3> <!-- A remplacer avec la valeur Company du tableau TUsers -->
        </div>
</div>


{% endblock %}