{% extends 'base.html.twig' %}
{% form_theme formTUsers 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="contenu mt-5">
            {{ form_start(formTUsers) }}
            {{ form_row(formTUsers.sexe, {'attr': {'placeholder': "Civilité"}}) }}
            {{ form_row(formTUsers.first_name, {'attr': {'placeholder': "Prénom"}}) }}
            {{ form_row(formTUsers.last_name, {'attr': {'placeholder': "Nom"}}) }}
            {{ form_row(formTUsers.email, {'attr': {'placeholder': "Email"}}) }}
            {{ form_row(formTUsers.password, {'attr': {'placeholder': "Mot de passe"}}) }}
            {{ form_row(formTUsers.direct_phone, {'attr': {'placeholder': "Téléphone fixe"}}) }}
            {{ form_row(formTUsers.cell_phone, {'attr': {'placeholder': "Téléphone portable"}}) }}
            {{ form_row(formTUsers.company, {'attr': {'placeholder': "Société"}}) }}
            {{ form_row(formTUsers.job_title, {'attr': {'placeholder': "Fonction"}}) }}
            {{ form_row(formTUsers.badge) }}
            {{ form_row(formTUsers.newsletter) }}
            {{ form_row(formTUsers.doc_request) }}
            <button type="submit" class="col-md-6 offset-3 mb-5 btn bg-campus text-light">Inscription à l'événement</button>
            {{ form_end(formTUsers) }}
        </div>
    </div>

{% endblock %}
