{% extends 'base.html.twig' %}

{%  block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-decoration: none; }
</style>
<div class="wrapper">
    {% if not app.user %}
    <h1>Connexion à l'environement administrateur</h1>
        <form action="{{ path('admin_login') }}" method="post">
        <div class="form-group">
            <input placeholder="Adresse Email..." required name="_username" type="text" class="form-control">
        </div>
        <div class="form-group">
            <input placeholder="Mot de passe..." required name="_password" type="password" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-link btn-block">Connexion à l'environnement administration</button>
        </div>
    </form>
    {% else %}
        
        <a href="{{ path("admin")}}" class="btn btn-link btn-block">Page administration - Gestion des articles et événements</a>
        <a href="{{ path("admin_logout")}}" class="btn btn-link btn-block">Déconnexion</a>
    {% endif %}
</div>
{% endblock %}