{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}
{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-decoration: none; }
</style>
<div class="wrapper">
    <h1>Liste des événements à venir sur le site Le Campus Les Mureaux Innove</h1>
    <a href="{{ path("admin")}}" class="btn btn-link btn-block">Retour à la page admin</a>
    {% if events %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre de l'événement</th>
                    <th>Voir</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>
                        <a href="/admin/evenement/{{ event.id }}" class="btn btn-link">Détails</a>
                    </td>
                    <td>
                        <a href="/admin/evenement/modifier/{{ event.id }}" class="btn btn-link">Modifier</a>
                    </td>
                    <td>
                        <a href="/admin/evenement/delete/{{ event.id }}" class="btn btn-link">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas d'événements dans la base de données</p>
    {% endif %}
    <a href="{{ path("new_event")}}" class="btn btn-link btn-block">Ajouter un nouvel événement</a>
</div>
{% endblock %}
