{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-decoration: none; }
</style>
<div class="wrapper">
    <h1>Vous êtes dans l'environement administratif du Site Le Campus Les Mureaux Innove</h1>

    <hr>
  
        <a href="{{ path("article_list")}}" class="btn btn-link btn-block">Liste des articles publiés</a>
        <a href="{{ path("new_article")}}" class="btn btn-link btn-block">Editer un nouvel article</a>

    <hr>

        <a href="{{ path("event_list")}}" class="btn btn-link btn-block">Liste des événements à venir</a>
        <a href="{{ path("new_event")}}" class="btn btn-link btn-block">Ajouter un nouvel événement</a>
    <hr>

        <a href="{{ path("admin_logout")}}" class="btn btn-link btn-block">Déconnexion</a>
        <a href="{{ path("admin_registration")}}" class="btn btn-link btn-block">Gestion des utilisateurs administrateurs</a>

</div>
{% endblock %}
