{% extends 'base.html.twig' %}

{% block title %}Nouvel Evénement{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-decoration: none; }
</style>
<div class="wrapper">
    <a href="{{ path("event_list")}}"class="btn btn-link btn-block">Retour à la liste des événements</a>
    {{ form_start(form) }}

        {{ form_row(form.title, {'label' : 'Titre de l\'événement'}) }}
        {{ form_row(form.image, {'label' : 'Sélectionner l\'image de l\'événement'}) }}
        {{ form_row(form.end_date, {'label' : 'Date de DEBUT'}) }}
        {{ form_row(form.begin_date, {'label' : 'Date de FIN'}) }}
    {{ form_end(form) }}
</div>
{% endblock %}
