{% extends 'base.html.twig' %}

{% block title %}Event n° {{ event.id }} {% endblock %}
{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-decoration: none; }
</style>
<div class="wrapper">
    <a href="{{ path("admin")}}" class="btn btn-link btn-block">Retour à la page admin</a>
    <h1>Evénement n° {{ event.id }}</h1>
    <hr>
        <h2>{{ event.title }}</h2>

        <h4>{{ event.begin_date|date("d/m/Y") }} Début de l'événement</h4>
        <img src="{{ asset('uploads/') }}{{ event.image }}" alt="Image de l'événement : {{ event.title }}" width="100%" height="100%">
        <h4>{{ event.end_date|date("d/m/Y") }} Fin de l'événement</h4>
    

    <hr>
    <a href="{{ path("event_list")}}"class="btn btn-link btn-block">Retour à la liste des événements</a>
</div>
{% endblock %}
