
/*-----------------------couleurs arrière-plan personnalisés-----------------*/


@font-face {
    font-family: 'DIN regular';
    src: url('../../fonts/DIN-Regular.e0185b8d') format('truetype');
}

@font-face {
    font-family: 'DIN Black';
    src: url('../../fonts/DIN-Black.e7aa9927') format('truetype');
}


body{
    font-family: 'DIN regular', sans-serif;
    color: #1027D1;

}

.container{
    width: 90%;
}


a{
    margin: 0;
    padding: 0;
}

.btn-link,.btnlink:hover{
    font-family: 'DIN regular', sans-serif;
}

.bg-white{
    background: #FFFFFF;
}

.bg-campus
{
    background: #1027D1;
}

.text-campus
{
    color: #1027D1;
    font-family: 'DIN regular', sans-serif;
}

.titre-1,h1{
    font-family: 'DIN Black', sans-serif;letter-spacing: normal;
    color: #1027D1;

}

.titre-2, h2, h3, h4, h5, h6{
    font-family: 'DIN regular', sans-serif;
    color: #1027D1;
}

.titre-2{
    font-family: 'DIN regular', sans-serif;
    font-size: 1.3em;

}

.titre-4{
    font-family: 'DIN regular', sans-serif;
    color: #1027D1;


}

.text-3{
    font-family: 'DIN regular', sans-serif;
    color: #1027D1;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #1027D1;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #1027D1;
    text-decoration: none;
    background-color: #00000000;

}

.dropdown-item {
    color: #1027D1;


}

a:hover {
    color: #1027D1;
    text-decoration: none;
}

.badge{
    font-family: 'DIN regular', sans-serif;
    font-weight: bold;
}

.badge-texte{
    position: relative;
    z-index: 300;
    top: -400px;
}


.badge-text-p{
    font-size: 2em;
}


.espace{
    padding-bottom: 500px;
}


.marge_nav{
    margin-bottom: 150px;
}

.marge_anchor{
    margin-top: 170px;
}

.padding-top-1{
    padding-top: 200px;
}
.padding-top-2{
    padding-top: 180px;
}

.ancre{
        display: block;
        position: relative;
        top: -200px;
        min-height: 700px;
}

iframe{
    display: block;
}

#footer{
    position: relative;
    bottom:0;
    width:100%;
}
