<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
    </head>
    <body>
    <!--Navbar-->
        <header id="top">
            <nav class="navbar navbar-expand-md text-campus bg-white border-bottom mb-2 p-0">
                <a class="navbar-brand" href="/"><img class="m-0 p-0" src="{{ asset('assets/img/logo.png') }}" alt="logo campus" width="150"></a>
                <button class="navbar-toggler text-campus" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarsExample03">
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item active">
                        <a class="nav-item nav-link titre-2" href="{{ path('about_us') }}">Qui sommes nous?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link titre-2" href="{{ path('events') }}">&Eacute;vénements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link titre-2" href="{{ path('articles') }}">Articles</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-item nav-link titre-2" href="{{path('find_us') }}">Nous retrouver</a> 
                    </li>
                </ul>
                </div>
            </nav>
        </header>
        <section class="">
                {% block body %}{% endblock %}
        </section>
        <footer>
            <div class="w-100 mt-4">
                <div class="bg-campus">
                    <div class="row col justify-content-center">
                        <a class="col-xs-12 text-light titre-3 p-2 mt-1" href="{{ path('about_us') }}#identity">Quelques chiffres</a>
                        <a class="col-xs-12 text-light titre-3 p-2 mt-1" href="{{ path('find_us') }}#map">Carte</a>
                        <a class="col-xs-12 text-light titre-3 p-2 mt-1" href="{{ path('terms_conditions') }}">Juridique</a>
                        <a class="col-xs-12 text-light titre-3 p-2 mt-1" href="{{ path('find_us') }}#contact_us">Contact</a>

                        <p class="col-xs-12 text-light titre-3 px-4 mt-1"></p>

                        <a class="col-xs-12 text-light titre-3 p-2 mt-1" href="https://twitter.com/LeCampusInno">Twitter</a>
                        <a class="col-xs-12 text-light titre-3 p-2 mt-1" href="https://www.linkedin.com/company/lecampus">LinkedIn</a> 
                    </div>
                    <hr class="w-50">
                    <div class="row col-md-8 offset-md-2 justify-content-center"> 
                        <p class="col-xs-12 text-light titre-3 p-2 mb-2">Copyright &copy; 2018 WF3</p>                
                    </div>
                </div>
            </div>
        </footer>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
