{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}


<div id="top" class="my-4">    
    <div class="list-inline text-center text-campus">
        <h3 class="list-inline-item"><a class="text-campus" href="{{ path('about_us') }}#identity">Notre identité</a></h3>
        <h3 class="list-inline-item"><a class="text-campus" href="{{ path('about_us') }}#ambition">Nos Ambitions</a></h3>
    </div>
    <div class="list-inline text-center text-campus">
        <h3 class="list-inline-item"><a class="text-campus" href="{{ path('about_us') }}#position">Positionnement</a></h3>
        <h3 class="list-inline-item"><a class="text-campus" href="{{ path('about_us') }}#partners">Nos partenaires</a></h3>
        <h3 class=" list-inline-item"><a class="text-campus" href="{{ path('about_us') }}#gallery">Galerie</a></h3>
    </div>
</div>

<div class="container mb-2">
    <hr class="w-50 py-2">
    <div class="col-md-10 offset-md-1 col-xs-12 px-4" id="identity">
        <h3 class="text-center text-campus">Notre Identité en Quelques Chiffres</h3><hr>
        <p>Début 2016, le campus EDF, 17 ha et 22 000 m² de bâtiments au cœur des Mureaux, était racheté par le Conseil départemental des Yvelines. Ce site a été racheté dans l’optique d’y construire <strong>un centre d’innovation</strong>.</p>
        <p>Le Campus est au cœur d’un écosystème unique en IDF</p>
        <ul>
            <li>De grands sites de production</li>
                <ul>
                    <li>RENAULT-NISSAN à Flins</li>
                    <li>PSA à Poissy </li>
                    <li>ARIANE GROUP aux Mureaux …</li>
                </ul>
            <li>Des centres de recherches prives ou publics</li>
                <ul>
                    <li>Technocentre de RENAULT</li>
                    <li>Centres R&D PSA de Carrières-sous-Poissy, Vélizy et le projet « powertrain » à Poissy</li>
                    <li>THALES à Elancourt</li>
                    <li>VEOLIA à Limay</li>
                    <li>VEDECOM à Versailles</li>                   
                </ul>
            <li>Des Ecoles / Universites De Premier Plan</li>
                <ul>
                    <li>ESSEC EISTI</li>
                    <li>ENSEA ESTACA</li>
                    <li>Les universités de</li>
                        <ul>
                            <li>Saint-Quentin-en-Yvelines </li>
                            <li>Et de Cergy-Pontoise</li>
                        </ul>
                </ul>
        </ul>
    </div>
    <div class="col-md-10 offset-md-1 col-xs-12 px-4">
        <div class="row">
            <div class="col-md-6">
                <img class="w-75" src="{{ asset('assets/img/chiffre1.png') }}" alt="17 HA de parc, 60 salles de formation de 12 à 90 place, auditorium de 201 places">
            </div>                
            <div class="col-md-6">
                <img class="md-75" src="{{ asset('assets/img/chiffre2.png') }}" alt="200 chambres, 300 couverts, terrace de 70 couverts, 200m² d'espace cocktail">
            </div>                
        </div>
    </div>

    <div class="col-md-10 offset-md-1 col-xs-12 px-4" id="ambition">
        <h3 class="text-center text-campus">Nos Ambitions</h3><hr>
        <p> Ce lieu a pour ambition <strong>d’accueillir et encourager des projets innovants</strong> (innovation technologique, innovation de procédés, d'usage et de produits).</p>
        <p>Il s’agira d’une structure d’appui à la création dans différents secteurs notamment : la santé, l’automobile, l’aéronautique et le sport.</p>
        <p>L’accent sera mis sur l’entrepreneuriat, la connexion aux partenaires publics et privés et la formation.</p>
        <p>Ainsi, qu’ils soient des entreprises de l’industrie ou des services, des start-ups, des sociétés éducatives ou des chercheurs, Le Campus est un écosystème qui abrite tous ceux qui sont prêts à mêler les enjeux de société aux nouveaux outils sans craindre la complexité des problématiques ni du travail collaboratif.</p>
        <P>Ensemble, <strong>ces acteurs doivent aider à mieux décrypter les mutations de notre monde et favoriser l’émergence de solutions à la fois concrètes, pertinentes et inédites.</strong></p>
    </div>

    <div class="col-md-10 offset-md-1 col-xs-12 px-4" id="position">

        <h1 class="text-center text-campus">Positionnement</h1><hr>

        <p>La structure du lieu a permis le démarrage rapide du premier axe de développement : l’organisation d’évènements d’entreprises. En quelques mois, le lieu a déjà accueilli de nombreux salons, séminaires et formations. Cette activité continue à être développée et tend à s’orienter de plus en plus vers le deuxième axe de développement : l’innovation.</p>
        <p>L’innovation est au cœur du projet de développement du site. Le site a pour vocation d’accueillir les partenaires, les entreprises, les experts et les universités qui vont travailler sur les problématiques technologiques de demain. </p>
        <p>Différentes pistes sont en cours :</p>
        <ul>
            <li>Un jumelage a été signé entre les Yvelines et la ville de Shenzhen. Le site pourrait bientôt être peuplé de co-entreprises sino-françaises de nouvelles technologies</li>
            <li>Des projets sont en cours avec Créative Valley, un réseau d’incubateur d’entreprise</li>
            <li>Des évènements seront créés pour attirer les populations qui réfléchissent à l’innovation et aux métiers de demain</li>
        </ul>

    </div>

    <div class="col-md-10 offset-md-1 col-xs-12 px-4" id="partners">

        <h1 class="text-center text-campus">Nos partenaires</h1>
        <div class="d-flex justify-content-around">
            <div class="logo_partners p-2 m-2"><img  class="img-fluid max-width: 100% height: auto" src="{{ asset('img/tianancyberpark.png')}}" alt="logo partenaire tianan" >
            </div>
            <div class="logo_partners p-2 m-2"><img  class="img-fluid max-width: 100% height: auto" src="{{ asset('img/invie.png')}}" alt="logo partenaire invie">
            </div>
            <div class="logo_partners p-2 m-2"><img  class="img-fluid max-width: 100% height: auto" src="{{ asset('img/groupegorge.png')}}" alt="logo partenaire groupe gorge">
            </div>
        </div>

        <div class="d-flex justify-content-around">
            <div class="logo_partners p-2 m-2"><a href=""><img  class="img-fluid max-width: 100% height: auto" src="{{ asset('img/ariane.png')}}" alt="logo partenaire ariane ">
                <p class="text-center">logo du Partenaire</p></a>
            </div>
            <div class="logo_partners p-2 m-2"><img  class="img-fluid max-width: 100% height: auto" src="{{ asset('img/webforce3.png')}}" alt="logo partenaire webforce 3">

            </div>
            <div class="logo_partners p-2 m-2"><img  class="img-fluid max-width: 100% height: auto" src="{{ asset('img/createvalley.png')}}" alt="logo partenaire create valley">

            </div>
        </div>

        <div class="d-flex justify-content-around">
            <div class="logo_partners p-2 m-2"><img  class="img-fluid max-width: 100% height: auto" src="{{ asset('img/engageleadpositivechange.png')}}" alt="logo partenaire engage lead positive change">

            </div>
            <div class="logo_partners p-2 m-2"><img  class="img-fluid max-width: 100% height: auto" src="{{ asset('img/estaca.png')}}" alt="logo partenaire estaca">

            </div>
            <div class="logo_partners p-2 m-2"><img  class="img-fluid max-width: 100% height: auto" src="{{ asset('img/segulatechnology.png')}}" alt="logo partenaire segulatechnology">
            </div>
        </div>
    </div>



    <div class="col-md-10 offset-md-1 col-xs-12" class="text-center">
        <hr>
        <a class="btn bg-light btn-link btn-block text-campus" href="{{ path('about_us')}}#top">Haut de page</a>
    </div>
</div>  <!-- end div container-->

{% endblock %}