{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    <div  class="container my-2">
        <div class="col-md-8 offset-md-2  col-xs-12">
            <h3 class="text-center text-campus">{{ article.title | raw }}</h3><hr>
            <img class="w-100" src="{{ asset('uploads/') }}{{ article.image }}" alt="photo de l'article" width="500" class="rounded">
            <p class="text-campus py-4 my-2" >Ecrit le {{ article.date | date('d/m/Y') }} à {{ article.date | date('H:i') }} - Auteur {{ article.author }}</p>
            {{ article.content | raw}}
        </div>
    </div>

{% endblock %}
