{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="container my-4" id="top" >
    <div class="row">
        
        {% for article in articles  %}

            <div class="col-md-8 offset-md-2 col-xs-12 border-primary mb-5">
                    <h3 class="text-center text-campus">{{ article.title | slice(0,40) |raw |trim}}</h3><hr>
                    <img class="w-100 my-2" src="{{ asset('uploads/') }}{{ article.image }}" alt="photo de l'article {{ article.title }}" width="350" class="rounded">
                    <p class="text-campus py-4 my-2 ">Ecrit le {{ article.date | date('d/m/Y') }} à {{ article.date | date('H:i') }} - Auteur {{ article.author }}</p>
                    <div class="article_content py-2 my-2">
                    {{ article.content | slice(0, 350) | raw}}
                    </div>
                <a href="{{ path('article', {'id': article.id}) }}" class="btn bg-light btn-link btn-block text-campus">Lire la suite</a>
             
            </div> {# end div articles #}
        {% endfor %}
    </div> {# end row #}
</div>




{% endblock %}

