{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<div class="container my-4" id="top" >

    <h3 class="text-center text-3">Nos prochains évènements</h3><hr class="w-50 py-4">

    <div class="row">
    {% for event in events %}
        <div class="col-md-4 col-xs-12 border-primary text-center">
            <img class="w-100 py-3 my-2" src="{{ asset('uploads/') }}{{ event.image }}" alt="photo de l'événement {{event.title}}" class="rounded mx-auto d-block img-fluid max-width: 100% height: auto">
            <h3 class="text-center text-campus">{{ event.title | slice(0,50) |raw |trim}}</h3><hr>
            <p class="text-campus py-2 my-2 ">Du {{ event.beginDate | date('d/m/Y') }} au {{ event.endDate | date('d/m/Y') }}</p>
            <div class="event_button">
                <a href="{{ path('users') }}" class="btn bg-light btn-link btn-block text-campus">M'inscrire à l'évènement</a>
            </div>
        </div> {#end div events#}
    {% endfor %}
    </div> {#end div loop_events#}
</div>
{% endblock %}

