{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}


<div id="top" class="my-4">
    <div class="list-inline text-center">
        <h3 class="list-inline-item"><a class="text-campus" href="{{ path('find_us') }}#transport">Transport</a></h3>
    </div>
    <div class="list-inline text-center">
        <h3 class="list-inline-item"><a class="text-campus" href="{{ path('find_us') }}#map">Carte</a></h3>
        <h3 class="list-inline-item"><a class="text-campus" href="{{ path('find_us') }}#contact_us">Nous Contacter</a></h3>
    </div>
</div>

<div class="container mb-2">
<hr class="w-50 py-2">
    <div><!-- content_find_us --> 
        

        <div class="col-md-8 offset-md-2 col-xs-12" id="transport">

            <h3 class="text-center text-campus">Se rendre au site</h3><hr>
                <div>
                    <p class="px-4"> 
                        La gare des Mureaux est desservie par la ligne J du Transilien<br>
                        depuis la gare SNCF Saint-Lazare, à destination de Mantes-la-Jolie<br>
                        une navette publique A14 au départ de La Défense arrive directement à la gare des Mureaux.<br>
                        La gare de Poissy est desservie par la ligne A du RER.<br>
                        L’arrivée du RER E aux Mureaux est prévue en 2024.
                    </p>  
                </div>
        </div>

        <div class="col-md-8 offset-md-2 col-xs-12" id="map">
            <h3 class="text-center text-campus">Carte</h3><hr>
            <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29622.990640044405!2d1.8879669695005274!3d48.985330523580025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6927fb7290163%3A0xb173525d0133a854!2sCampus%2C+cit%C3%A9+de+l%E2%80%99innovation+et+des+m%C3%A9tiers+de+demain!5e0!3m2!1sfr!2sfr!4v1531050606998" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            <a class="text-campus" href="#top"><i class="fas fa-angle-up"></i></a>
        </div>
    

        <div class="col-md-8 offset-md-2 col-xs-12" id="contact_us">
            <div class="w-100">
                <h3 class="text-center text-campus">Adresse</h3><hr>
                <div class="jumbotron text-center">                    
                    <p>
                    <h2 class=" titre-1">LE CAMPUS</h2>
                    <hr class="w-75">
                    <p>Patricia OVADIA - Directrice du Campus<br>
                    17 rue Albert Thomas – 78130 Les Mureaux<p>
                    <p>Tél : +33 (0)1 39 07 76 23</p>
                    </p>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a class="col-md-8 offset-md-2 col-xs-12 btn bg-light btn-link btn-block text-campus" href="{{ path('find_us') }}#top"> Haut de page</a>
        </div>
    </div>
</div>
{% endblock %}