{% extends 'base.html.twig' %}
{% block title %}{{ controller_name }}!{% endblock %}
{% block body %}

<div class="container my-2" id="top" >
    <div class="img-fluid">
        <img class="w-100 rounded" src="{{ asset('img/campus-des-mureaux.jpg')}}" alt="Campus des Mureaux" width="350"/>
    </div>
    {#Div Slogan#}
    <div class="w-100 text-center">
        <h1 class="mt-5 mr-5 titre-1 text-campus">LE CAMPUS</h1>
        <h3 class="ml-5">Générateur d'Innovation&nbsp;!</h3>
        <hr class="my-4">
    </div>

    <div>
        <div class="my-5 py-2">
            <h3 class="text-center text-campus">Dernières actualités</h3>

        </div>
        {#Div last 3 articles loop#}
        <div class="row">
            {% for article in articles | slice(0,3) %}
                <div class="col-md-4 col-xs-12">
                
                    <img class="w-100" src="{{ asset('uploads/') }}{{ article.image }}" alt="Image de {{ article.title }}" width="350" class="rounded">
                    <h3 class="titre-2">{{ article.title | slice(0,60) |raw |trim}}</h3>
                    <p class="text-primary py-2 my-2">Ecrit le {{ article.date | date('d/m/Y') }} à {{ article.date | date('H:i') }} - Auteur {{ article.author }}</p>
            
                    {{ article.content | slice(0, 250) | raw}}

                    <div class="article_button">
                    <a href="{{ path('article', {'id': article.id}) }}" class="btn bg-light btn-link btn-block text-campus"> Lire la suite</a>

                        </div>                 
                </div> {#end div articles#}
            {% endfor %}
        </div> {#end div loop_article#}
        <div class="articles_button">
            <a href="{{ path('articles')}}" class="mt-5 btn bg-light btn-link btn-block text-campus"> Lire les autres articles</a>
        </div>
    </div> {#end div last_news#}
    <hr>
    
    <div>
        <div class="my-2 py-2">
            <h3 class="text-center text-campus">Prochains événements</h3>

        </div>
        {#Div next  events loop#}
        <div class="row">
            {% for event in events | slice(0,3) %}
                <div class="col-md-4 col-xs-12 border-primary text-center">
                    <img class="w-100" src="{{ asset('uploads/') }}{{ event.image }}" alt="Image de {{ event.title }}" width="300" class="rounded">
                    <h3 class="text-center text-campus">{{ event.title | slice(0,60) |raw |trim}}</h3>
                    <p>Du {{ event.beginDate | date('d/m/Y') }} au {{ event.endDate | date('d/m/Y') }}</p>
                    <div class="event_button">
                        <a href="{{ path('users')}}" class="btn bg-light btn-link btn-block text-campus"> S'inscrire à l'évènement</a>
                    </div>
                </div> {#end div events#}
            {% endfor %}
        </div> {#end div loop_event#}
        <div class="events_button">
            <a href="{{ path('events')}}" class="mt-5 btn bg-light btn-link btn-block text-campus"> Voir les autres évènements</a>
        </div>
    </div> {#end div next events#}
</div>


{% endblock %}

