{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    <div class="container my-2"><!-- terms_conditions -->
        <div class="col-md-8 offset-2 col-xs-12">
            <h3 class="text-center text-3 py-2">Règlement général sur la protection des données</h3>
            <div>
                <p class="text-justify">
                    <em>
                        En vertu du service auquel vous avez souscrit, les données vous concernant font l'objet d'un traitement dont le responsable est Patricia Ovadia, 17 Albert Thomas 78130 Les Mureaux. Elles seront utilisées pour vous recontacter, vous fournir les informations demandées, vous envoyer des communications commerciales, et seront conservées pendant 3 ans après le dernier envoi d'une communication commerciale. Vos données sont destinées au Campus. Conformément à la réglementation applicable en matière de protection des données personnelles, vous disposez d'un droit d'accès, de rectification, d'opposition, de limitation du traitement, de portabilité pour demander le transfert de vos données lorsque cela est possible et d'effacement. Vous pouvez donner des instructions sur le sort de vos données après votre décès. Ces droits peuvent être exercés à l'adresse suivante : ecampus@yvelines.fr. Veillez à préciser vos nom, prénom, adresse postale et à joindre une preuve de votre identité à votre demande. Dans le cadre de la politique de protection des données personnelles du Campus. vous pouvez contacter Le Campus, 17 Albert Thomas 78130 Les Mureaux. En cas de difficulté dans la gestion de vos données personnelles, vous pouvez introduire une réclamation auprès de la CNIL.
                    </em>
                </p>
            </div>
        </div>
    </div>

{% endblock %}